<RCC>
  <qresource prefix="jithin">
    <file>images/bt_01_off.png</file>
    <file>images/bt_01_on.png</file>
    <file>images/bt_02_off.png</file>
    <file>images/bt_02_on.png</file>
    <file>images/bt_03_off.png</file>
    <file>images/bt_03_on.png</file>
    <file>images/bt_label_0.png</file>
    <file>images/bt_label_01.png</file>
    <file>images/bt_label_02.png</file>
    <file>images/bt_label_03.png</file>
    <file>images/bt_label_04.png</file>
    <file>images/bt_label_05.png</file>
    <file>images/bt_label_06.png</file>
    <file>images/bt_label_07.png</file>
    <file>images/bt_label_08.png</file>
    <file>images/bt_label_09.png</file>
    <file>images/bt_label_clear.png</file>
    <file>images/bt_label_div.png</file>
    <file>images/bt_label_dot.png</file>
    <file>images/bt_label_equal.png</file>
    <file>images/bt_label_minus.png</file>
    <file>images/bt_label_plus.png</file>
    <file>images/bt_label_submit.png</file>
    <file>images/bt_label_times.png</file>
    <file>images/calculator_display.png</file>
    <file>images/carrousel_bg.png</file>
  </qresource>
</RCC>
