
h1{
    font-size: 32px !important;
}

h2 {
    margin-left: 0px !important;
    padding-left: 2.6cm;
    background-image: url(blue-bar.png);
    background-repeat: no-repeat;
    background-position: 0px 18px;
    background-color: white !important;
    color: #33a3a3;
    font-size: 24px !important;
}

math{
    display: inline !important;
}

/* links to the table of contents */
a.retButton{
    background: wheat;
    border: 1px orange solid;
    border-radius: 6px;
    padding: 3px;
    display: inline-block;
    cursor: pointer;
    color: brown;
    font-size: 120%;
}
a.retButton:link {text-decoration: none;}
a.retButton:hover {
    color: #3366CC;
    background: lightcyan;
    border: 1px solid navy;
    font-size: 160%;
}

/* styles inside the table of contents */

a[href*=__Toc] {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}

a[href*=__Toc]:hover {
    font-size: 125%;
    margin-left: -1em;
    color: red;
}

